.hero-container {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url("../img/hero-index2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.hero-title {
    text-align: center;
    color: $orange;
}

#gradient{
    background:-webkit-linear-gradient(#666666, $orange);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}