.button {
    border-top: 1px solid transparent;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 30px;
    
    &:hover {
        background: $citrus-comp;
        color: #ffffff;
        border-top: none;
    }
    
}

.primary{
    background: $citrus;
    padding: 1em 2em;
    color: #ffffff;
}

.btn-margin {
    margin: 2em 0;
}

#contact-btn {
    color: #ffffff;
}