
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:300,400,700|Seaweed+Script" rel="stylesheet');

p {
    margin-bottom: 1.3em;
}

.h1, .h2, .h3, .h4 {
    font-weight: 700;
}

.h1 {
    font-size: 4em;
  }
  
  .h2 {
      font-size: 3em;
  }
  
  .h3 {
      font-size: 2em;
  }
  
  .h4 {
      font-size: 1.25em;
  }

  .script {
      font-family: 'Seaweed Script', cursive;
  }

  .ampersand {
    font-style: italic;
    font-weight: 400; }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif JP', sans-serif;
    color: #32434F; }
  
  h1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
    margin: 5px 0 15px 0; }
  
  h1 + h2 {
    margin-top: 30px; }
  
  h2 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 500;
    margin: 45px 0 0 0; }

h3 {
    font-family: 'Noto Serif JP', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 30px 0 0 0; }