/* ========== Variables ==========*/

//Colors

$citrus: #F15A29;
$citrus-comp: complement($citrus);
$mute: #363B44;
$mute-comp: complement($mute);
$cloudy: #5E6472;

.citrus {
    color: $citrus;
}
.white {
    color: white;
}

//lists

$small: (2em, 1.8em, 1.6em, 1.4em, 1.2em, 1em);

$large: (4em, 3.6em, 3.2em, 2.8em, 2.4em, 2em);

//maps

$type-sizes: (
);