/* ========== Variables ==========*/

//Colors

$citrus: #F15A29;
$mute: #363B44;
$cloudy: #5E6472;

//lists

$small: (2em, 1.8em, 1.6em, 1.4em, 1.2em, 1em);

$large: (4em, 3.6em, 3.2em, 2.8em, 2.4em, 2em);

//maps

$type-sizes: (
);